parameters:
	level: 9
	paths:
		- admin
		- includes
	bootstrapFiles:
		- tests/phpstan/constants.php
		- tests/phpstan/woocommerce-stubs.php
		- tests/phpstan/ppom-stubs.php
		- tests/phpstan/themeisle-sdk-stubs.php
		- tests/phpstan/optimole-stubs.php
includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
